/*
FUNÇÕES PADRÕES START
*********************************************************************/
.clear,
.first {
  clear: both;
}
/*********************************************************************
FUNÇÕES PADRÕES END
*/
/*
NON-RESPONSIVE START
**********************************************************************************************/
/* ALTERAR APENAS ESTAS VARIAVEIS DE ACORDO COM O PROJETO START */
.container {
  max-width: none !important;
  width: 960px;
}
.navbar-nav > li > a {
  padding-top: 44.5px;
  padding-bottom: 44.5px;
}
/* ALTERAR APENAS ESTAS VARIAVEIS DE ACORDO COM O PROJETO END */
/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}
/* Non-responsive overrides** Utilitze the following CSS to disable the responsive-ness of the container,* grid system, and navbar.*/
/* Reset the container */
/* Always float the navbar header */
.navbar-header {
  float: left;
}
/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}
.navbar-brand {
  margin-left: -15px;
}
/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}
/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
/**********************************************************************************************
NON-RESPONSIVE END
*/
::selection {
  background-color: #1d396f;
  color: #FFF;
}
::-moz-selection {
  background-color: #1d396f;
  color: #FFF;
}
small {
  display: inline-block;
  line-height: 1.1;
}
textarea {
  resize: vertical;
}
a,
button {
  transition: all 0.25s ease 0s;
}
/*
FONTS START
**********************************************************************************************/
.btn,
.box-banner .box-header {
  font-family: 'GothamLight', Arial, sans-serif;
  font-weight: normal;
}
.box-banner .button,
.box-banner .box-header strong,
.footer-header,
.plano .title,
.plano .preco {
  font-family: 'GothamBlack', Arial, sans-serif;
  font-weight: normal;
}
.extra-copy {
  font-family: Arial, sans-serif;
  font-weight: normal;
}
/**********************************************************************************************
FONTS END
*/
/*
ESTRUTURA START
**********************************************************************************************/
.extra-header {
  background: url(../imagem/site/bg-header.png) no-repeat center top;
  z-index: 2;
  position: relative;
  margin-bottom: -41px;
}
.extra-header .site-header {
  height: 170px;
}
.extra-header .navbar {
  border: 0;
  margin: 0;
}
.extra-header .nav {
  text-transform: uppercase;
  font-size: 13px;
}
.extra-header .nav > li > a {
  padding-left: 10px;
  padding-right: 10px;
}
.extra-header .nav > li + li {
  background: url(../imagem/site/bg-menu.png) no-repeat left center;
  padding-left: 4px;
}
.extra-header .link {
  display: inline-block;
  background: #adcdea;
  -webkit-border-radius: 50px 50px 0px 0px;
  -moz-border-radius: 50px 50px 0px 0px;
  -ms-border-radius: 50px 50px 0px 0px;
  -o-border-radius: 50px 50px 0px 0px;
  border-radius: 50px 50px 0px 0px;
  text-align: center;
  color: #FFF;
  position: relative;
  max-width: 60px;
  line-height: 1;
  padding: 16px 0;
  margin-top: 16px;
  height: 90px;
}
.extra-header .link span {
  display: inline-block;
}
.extra-header .link .icone {
  margin-bottom: 10px;
}
.extra-header .link .title {
  display: block;
}
.extra-header .link .shadow {
  position: absolute;
  background: url(../imagem/site/bg-dark-blue.png) repeat;
  left: -4px;
  right: 4px;
  bottom: -22px;
  height: 22px;
}
.extra-header .navbar-brand {
  padding: 16px 0 0 22px;
  margin: 0 24px 0 0;
  width: 300px;
}
.extra-central {
  position: relative;
  z-index: 1;
}
.extra-footer {
  background: url(../imagem/site/bg-footer-x.jpg) repeat-x top;
  text-align: center;
}
.extra-footer .site-footer {
  background: url(../imagem/site/bg-footer.jpg) no-repeat center top;
  padding: 20px 0;
}
.extra-copy {
  background: #526a89 url(../imagem/site/bg-gold.jpg) repeat-x center top;
}
.extra-copy small {
  font-size: 10px;
}
.extra-copy .site-copy {
  text-align: center;
  color: #FFF;
  padding: 20px 0;
}
.extra-copy .text-info {
  color: #adcdea;
}
/**********************************************************************************************
ESTRUTURA END
*/
/*
CLASSES START
**********************************************************************************************/
[class^='lista-'],
[class^='lista-'],
[class^='menu-'],
[class^='menu-'] ul,
.cycle-slideshow {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.btn-gray {
  background: #EEE;
  color: #C93F2A;
}
.btn-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.box-banner {
  background: url(../imagem/site/bg-banner.jpg) no-repeat center top;
  height: 529px;
  text-align: center;
  padding-top: 10px;
}
.box-banner .box-header {
  text-transform: uppercase;
}
.box-banner .faixa {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 0;
  margin-left: -151px;
}
.box-banner .planos {
  position: relative;
  text-align: center;
  padding-top: 58px;
}
.box-banner .plano {
  text-align: center;
  line-height: 1.1;
  padding: 44px 46px 0;
  display: inline-block;
  margin: 0 -20px;
  z-index: 1;
  position: relative;
}
.box-banner .plano span {
  display: block;
}
.box-banner .plano .title {
  font-size: 27px;
  text-transform: uppercase;
}
.box-banner .plano .preco {
  font-size: 23px;
  color: #adcdea;
  margin: 6px 0 10px;
}
.box-banner .plano .preco * {
  display: inline-block;
}
.box-banner .plano .preco strong {
  font-weight: normal;
  font-size: 38px;
}
.box-banner .plano.plus {
  z-index: 2;
}
.box-banner .box-button {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.box-banner .button {
  display: inline-block;
  background: url(../imagem/site/bg-blue.png) repeat;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 16px;
  padding: 20px 40px;
}
.box-banner .button span {
  color: #adcdea;
}
.footer-header {
  text-transform: uppercase;
  color: #555;
  font-size: 13px;
  display: block;
  margin-bottom: 6px;
}
.imagem {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
}
.imagem-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.inline-block {
  display: inline-block;
}
[class^='icon-'],
[class*='icon-'] {
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  background-image: url(../imagem/site/icon.png);
}
.space {
  width: 1%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.relative {
  position: relative;
}
/**********************************************************************************************
CLASSES END
*/
/*
JQUERY UI START
**********************************************************************************************/
/**********************************************************************************************
JQUERY UI END
*/
@media (max-width: 767px) {
  /*    .site-geral:before {content:"TABLET";}*/
}
@media (max-width: 480px) {
  /*#GERAL:before {content:"MOBILE";}*/
}
@media (min-width: 981px) and (max-width: 1200px) {
  /*#GERAL:before {content:"ACIMA DE TABLET";}*/
}
