.icon{ background:url("icon.png") top left no-repeat; }
.icon-circle{ width:241px; height:240px; background-position:-1px -1px; }
.icon-conheca-planos{ width:302px; height:106px; background-position:-1px -242px; }
.icon-facebook{ width:46px; height:46px; background-position:-243px -1px; }
.icon-cliente{ width:42px; height:22px; background-position:-1px -349px; }

